## Laboratorio de implementacion - Usuarios app

In [ ]:
import pandas as pd #importo la librería para trabajar con datos
import numpy as np #importo la librería para procesar matrices
from matplotlib import pyplot as plt #importo las librerías para graficar

In [ ]:
!ls dataset_tp1p2 #veo que hay en el directorio donde guardo los datos

In [ ]:
usuarios=pd.read_csv('./dataset_tp1p2/usuariosapp.csv',sep=';') #cargo un pandas dataframe con la info del archivo

In [ ]:
len(usuarios)

In [ ]:
usuarios.count()

In [ ]:
199826-103883

In [ ]:
usuarios.head(5) #veo que hay en los primeros 5 registros del dataframe

In [ ]:
usuarios.count() #veo cuantos registros hay en el dataframe

In [ ]:
usuarios.dtypes #veo los tipos de cada columna

In [ ]:
usuarios.Status.unique() #veo que hay en status

In [ ]:
usuarios.Sexo.unique() #veo que hay en Sexo

In [ ]:
usuarios.DNI.head(20) #veo que valores hay en DNI

In [ ]:
#Veamos el tipo de datos del primer registro
print(usuarios.DNI[0])
print('El tipo de datos es ' , type(usuarios.DNI[0]))

In [ ]:
#Intento transforma la columna DNI a números
pd.to_numeric(usuarios.DNI)

In [ ]:
#veamos que hay en la posición 64
usuarios.iloc[64]

In [ ]:
#Veamos cuántos registros contienen alguna letra
np.sum(usuarios['DNI'].str.contains('[a-zA-Z]').dropna())

In [ ]:
#Veamos que hay en las columnas nulas
usuarios[usuarios['DNI'].str.contains('[a-zA-Z]').fillna(False)]

In [ ]:
#Nos quedamos con los que no tienen texto en DNI
usuarios_tf=usuarios[~usuarios['DNI'].str.contains('[a-zA-Z]').fillna(False)]

In [ ]:
#Me quedo con los que no tienen nulos en DNI
usuarios_tf=usuarios_tf.dropna(subset=['DNI'])

In [ ]:
usuarios_tf.DNI=pd.to_numeric(usuarios_tf.DNI) #convierto DNI a número
usuarios_tf.Status=usuarios_tf.Status.convert_dtypes() #convierto Status a string
usuarios_tf.Sexo=usuarios_tf.Sexo.convert_dtypes() #convierto Sexo a string

In [ ]:
#Verifico los tipos de datos
usuarios_tf.dtypes

In [ ]:
#Conteo por columnas, veo que en Sexo hay varios nulos
usuarios_tf.count()

In [ ]:
#Elimino la columna sexo porque el tp no requiere nada con esa variable
usuarios_tf.drop('Sexo',axis=1,inplace=True)

In [ ]:
usuarios_tf.count()

In [ ]:
#¿Quedaron nulos?
np.sum(usuarios_tf.isna())

In [ ]:
#¿cuántos DNI mayores a 90 millones hay?
np.sum(usuarios_tf.DNI>90000000)

In [ ]:
#Nos quedamos con los usuarios que no tienen DNI extranjero y con aquellos usuarios que están activos
usuarios_tf=usuarios_tf[usuarios_tf.DNI<90000000]
usuarios_tf=usuarios_tf[usuarios_tf.Status=='A']

In [ ]:
#Vemos como nos quedo la base de datos
usuarios_tf.count()

In [ ]:
#Calculamos edades
usuarios_tf['Edades']=-0.0000014545*usuarios_tf.DNI+81.3217765310

In [ ]:
#Redondeamos a 0 decimales
usuarios_tf.Edades=usuarios_tf.Edades.round(decimals=0)

In [ ]:
#Convertimos la columna a enteros
usuarios_tf['Edades']=usuarios_tf['Edades'].astype(np.int64)

In [ ]:
#Veamos como quedaron los tipos de las columnas
usuarios_tf.dtypes

In [ ]:
usuarios_tf.describe()

In [ ]:
#Armamos rangos de edad
usuarios_tf['rango_edad']=np.select(
    [
        usuarios_tf['Edades'].between(0, 19, inclusive=True), 
        usuarios_tf['Edades'].between(20, 24, inclusive=True),
        usuarios_tf['Edades'].between(25, 29, inclusive=True),
        usuarios_tf['Edades'].between(30, 34, inclusive=True),
        usuarios_tf['Edades'].between(35, 39, inclusive=True),
        usuarios_tf['Edades'].between(40, 44, inclusive=True),
        usuarios_tf['Edades'].between(45, 49, inclusive=True),
        usuarios_tf['Edades'].between(50, 54, inclusive=True),
        usuarios_tf['Edades'].between(55, 59, inclusive=True),
        usuarios_tf['Edades'].between(60, 64, inclusive=True),
        usuarios_tf['Edades'].between(65, 69, inclusive=True),
        usuarios_tf['Edades'].between(70, 74, inclusive=True),
        usuarios_tf['Edades'].between(76, 2000, inclusive=True)
    ],
    [
        '<20', 
        '20-25',
        '25-30',
        '30-35',
        '35-40',
        '40-45',
        '45-50',
        '50-55',
        '55-60',
        '60-65',
        '65-70',
        '70-75',
        '75'        
    ], 
    default='Unknown'
)

In [ ]:
#Armamos una tabla pivot
pd.pivot_table(usuarios_tf,values='Edades',index=['rango_edad'],aggfunc='count')

In [ ]:
#Exportamos los resultados a un excel para graficar
usuarios_tf.to_excel('test.xlsx')

In [ ]:
#Armamos una tabla pivot
pd.pivot_table(usuarios_tf,values='Edades',index=['rango_edad'],aggfunc='count').plot(kind='bar')